@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
.backgroundimg {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    opacity: 70%;
    left: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.topnav {
    display: none;
}


/* The navigation bar */

.navbar {
    z-index: 9999;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
    opacity: 90%;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    left: 0;
    width: 100%;
    /* Full width */
    border-bottom: 2px solid #f7a71360;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 1em 1.45em;
    text-decoration: none;
}


/* Change background on mouse-over */

.navbar a:hover {
    background: #61ff7b60;
}


/* Main content */

.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}

header h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

header p {
    text-align: center;
    margin-bottom: 0;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #00c4f3;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #00c4f3;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #00c4f3;
    bottom: -4px;
}


/* Style for elements on left and right sides of the timeline */

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.direction-l p:first-letter {
    color: rgb(0, 140, 255);
    font-size: 150%;
}

.direction-r p:first-letter {
    color: rgb(255, 136, 0);
    font-size: 150%;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(250, 193, 154);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #00c4f3;
    display: inline-block;
    padding: 8px;
}

footer {
    bottom: 0;
    position: fixed;
    opacity: 50%;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
    -webkit-transition: -webkit-transform .5s ease-out;
    -moz-transition: -moz-transform .5s ease-out;
    -o-transition: -o-transform .5s ease-out;
    -ms-transition: -ms-transform .5s ease-out;
    transition: transform 0.5s ease-out;
}

@media(min-width: 993px) {
    .direction-l .desc:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        background: #e3fffd;
    }
    .direction-r .desc:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        background: #fff1dc;
    }
}

@media(min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }
    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }
    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }
    .flag-wrapper {
        display: inline-block;
    }
    .flag {
        font-size: 18px;
    }
    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254, 254, 254);
        border-width: 8px;
    }
    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }
    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }
    .direction-l .time-wrapper {
        float: left;
    }
    .direction-r .time-wrapper {
        float: right;
    }
    .time {
        padding: 5px 10px;
    }
    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media(min-width: 992px) {
    .toolbtn {
        font-size: 15px;
        z-index: 500;
        position: absolute;
        background: rgba(255, 171, 75, 1);
        margin: -80px 0 0 6em;
        width: 10em;
        height: 3em;
        border-color: gray;
        border-radius: 12px;
        transition: all 0.3s ease;
        box-shadow: 3px 3px 5px 2px #2f5d6d;
    }
    .toolbtn:hover {
        cursor: pointer;
    }
    .tooltip {
        color: #fff0c6;
        z-index: 501;
        position: absolute;
        margin: -25px 0 0 10px;
        padding: 10px;
        background: #57361750;
        border-radius: 25px;
        border: 2px solid #ce8138;
        width: fit-content;
        height: 12em;
        font-size: 18px;
        display: none;
        transition: all 0.3s ease;
        box-shadow: 3px 5px 5px 2px #2f5d6d;
    }
    .tooltip b {
        margin-left: 6em;
        text-decoration: underline;
    }
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }
    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}

@media screen and (max-width: 992px) {
    /* Hide tooltip on smaller screens */
    .toolbtn {
        display: none;
    }
    .tooltip {
        display: none;
    }
    /* Hide navbar on smaller screens */
    .navbar {
        display: none;
    }
    /* Style the navigation menu */
    .topnav {
        z-index: 99999;
        display: block;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 10;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        transition: all 0.3s ease;
        position: fixed;
        display: none;
        z-index: 99999;
        color: #000000;
        width: 40%;
        text-align: center;
        margin: 40px 10px;
        right: 0;
    }
    .topnav #myLinks a {
        border: 1px solid black;
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
        color: #000000;
    }
    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        margin-right: 10px;
    }
    .direction-l .desc:hover,
    .direction-l .desc:active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        background: #e3fffd;
    }
    .direction-r .desc:hover,
    .direction-r .desc:active {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
        background: #fff1dc;
    }
    /* Add a grey background color on mouse-over */
    /* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */
}
